.cases__info {
    margin-bottom: 80px;
    color: #B3B3B3;
}

.cases__for_individual {
    margin-bottom: 60px;

    display: flex;
    column-gap: 100px;
    align-items: center;

}

.for__individual_cards {
    display: flex;
    flex-wrap: wrap;

    max-width: 748px;
    padding: 50px;

    background-color: #1C1C1C;
    border-radius: 20px;

    position: relative;
    z-index: -2;
}

.for__individual_cards::after {
    display: inline-block;

    content: "";
    width: 224px;
    height: 213px;

    background-image: url(../images/for__individual__abstract.svg);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    flex-grow: 0;
}

.for__individual_list {
    display: flex;
    column-gap: 20px;
}

.for__individual_list__first {
    margin-bottom: 20px;
}

.for__individual_item {
    width: 314px;
    height: 182px;
    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-color: #1A1A1A;
    border-radius: 16px;


}

.item__img {
    margin-bottom: 24px;
    font-size: 3rem;
}

.item__text {
    font-size: 20px;
    font-weight: 400;

}



.for__individual_general {
    max-width: 748px;
}

.general__title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 14px;
}

.general__text {
    margin-bottom: 62px;
    color: #B3B3B3;
}

.general__percents {
    margin-bottom: 62px;

    display: flex;
    align-items: center;
    column-gap: 50px;
}

.general__percent {
    width: 183px;
}

.general__percent_center {
    width: 283px;
    padding: 0 50px;
    border-right: 1px #262626 dashed;
    border-left: 1px #262626 dashed;
}

.percent__value {
    margin-bottom: 5px;

    font-size: 58px;
    font-weight: 500;
    color: #CAFF33;
}

.percent__text {
    color: #B3B3B3;
}

.general__button {
    padding: 18px 24px;

    background-color: #1C1C1C;
    border-radius: 82px;
    border: 1px #262626 solid;

    font-weight: 400;
}

.cases__for_business {
    display: flex;
    column-gap: 100px;
    align-items: center;
    margin-bottom: 150px;
}

.for__business_cards {
    max-width: 748px;
    padding: 50px;

    background-color: #1C1C1C;
    border-radius: 20px;

    position: relative;
    z-index: -2;
}

.for__business_cards::before {
    display: inline-block;

    content: "";
    width: 224px;
    height: 213px;

    background-image: url(../images/for__individual__abstract__right.svg);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    flex-grow: 0;
}

@media (max-width: 1616px) {
    .cases__for_individual {
        justify-content: space-around;
    }

    .for__individual_cards {
        max-width: 550px;
    }

    .for__individual_item {
        width: 215px;
        height: auto;
        padding: 24px;
    }

    .for__individual_general {
        max-width: 550px;
    }

    .cases__for_business {
        justify-content: space-around;
    }
}



@media(max-width: 1440px) {
    .cases__info {
        margin-bottom: 3.75rem;
    }

    .cases__for_individual {
        margin-bottom: 2.5rem;
        column-gap: 3.75rem;
    }

    .for__individual_cards {
        max-width: 38.125rem;
        padding: 2.5rem;
    }

    .for__individual_cards::after {
        width: 224px;
        height: 213px;
    }

    .for__individual_list {
        column-gap: 0.625rem;
    }

    .for__individual_list__first {
        margin-bottom: 0.625rem;
    }

    .for__individual_item {
        width: 260px;
        height: 174px;
        padding: 1.5rem;
    }

    .item__img {
        margin-bottom: 1rem;
        font-size: 2rem;
    }

    .item__text {
        font-size: 1rem;
    }



    .for__individual_general {
        max-width: 610px;
    }

    .general__title {
        font-size: 1.5rem;
        margin-bottom: 0.6rem;
    }

    .general__text {
        margin-bottom: 3rem;
    }

    .general__percents {
        margin-bottom: 5rem;
    }

    .general__percent {
        width: 135px;
    }

    .general__percent_center {
        width: 236px;
    }

    .percent__value {
        margin-bottom: 0.3rem;
        font-size: 2.5rem;
    }

    .percent__text {
        font-size: 0.9rem;
    }

    .general__button {
        padding: 0.8rem 1.25rem;
    }

    .cases__for_business {
        column-gap: 3.75rem;
        margin-bottom: 7.5rem;
    }
}

@media(max-width: 1306px) {
    .for__individual_cards {
        max-width: 30rem;
        padding: 2rem;
    }

    .for__individual_item {
        width: 203px;
        padding: 1.5rem;
    }



    .for__individual_general {
        max-width: 556px;
    }

    .general__title {
        font-size: 1.3rem;
    }
}

@media(max-width: 1126px) {
    .cases__info {
        text-align: center;
    }

    .cases__for_individual {
        margin-bottom: 2.5rem;
        gap: 3.75rem;
        flex-direction: column;
    }

    .for__individual_cards {
        max-width: 50rem;
        padding: 3rem;
    }

    .for__individual_item {
        width: 347px;
        padding: 2rem;
    }



    .for__individual_general {
        max-width: 50rem;
    }

    .general__title {
        font-size: 1.5rem;
        margin-bottom: 0.6rem;
    }

    .general__text {
        margin-bottom: 3rem;
    }

    .general__percents {
        margin-bottom: 3rem;
        justify-content: space-around;
    }

    .general__percent {
        width: 135px;
    }

    .general__percent_center {
        width: 236px;
    }

    .percent__value {
        margin-bottom: 0.3rem;
        font-size: 2.5rem;
    }

    .percent__text {
        font-size: 0.9rem;
    }

    .general__button {
        padding: 0.7rem 1.125rem;
    }

    .item__img {
        margin-bottom: 1rem;
        font-size: 3rem;
    }

    .cases__for_business {
        gap: 3.75rem;
        margin-bottom: 7.5rem;
        flex-direction: column-reverse;
    }
}

@media(max-width: 836px) {
    .for__individual_cards {
        max-width: 30rem;
        padding: 2.5rem;
    }

    .for__individual_cards::after {
        width: 224px;
        height: 213px;
    }

    .for__individual_list {
        column-gap: 0.65rem;
    }

    .for__individual_list__first {
        margin-bottom: 0.65rem;
    }

    .for__individual_item {
        width: 195px;
        height: 174px;
        padding: 1.25rem;
    }

    .item__text {
        font-size: 0.875rem;
    }



    .for__individual_general {
        max-width: 610px;
    }

    .general__title {
        font-size: 1.5rem;
        margin-bottom: 0.6rem;
        text-align: center;
    }

    .general__text {
        margin-bottom: 3rem;
        text-align: center;
    }

    .general__percents {
        margin-bottom: 5rem;
    }

    .general__percent {
        width: 135px;
    }

    .general__percent_center {
        width: 236px;
    }

    .percent__value {
        margin-bottom: 0.3rem;
        font-size: 2.5rem;
    }

    .percent__text {
        font-size: 0.9rem;
    }

    .general__button {
        padding: 0.8rem 1.25rem;
        margin: 0 auto;
        display: block;
        text-align: center;
        max-width: 130px;
    }

    .cases__for_business {
        column-gap: 3.75rem;
        margin-bottom: 7.5rem;
    }
}

@media(max-width: 610px) {
    .for__individual_cards {
        max-width: 25rem;
    }

    .for__individual_item {
        max-width: 155px;
    }

    .for__individual_general {
        max-width: 450px;
    }

    .general__title {
        font-size: 1.5rem;
    }

    .general__percents {
        flex-direction: column;
        row-gap: 2.25rem;
        margin-bottom: 3rem;
    }

    .general__percent {
        width: 258px;
        text-align: center;
    }

    .general__percent_center {
        width: 258px;
        padding: 30px 0;
        border-right: 0;
        border-left: 0;
        border-top: 1px #262626 dashed;
        border-bottom: 1px #262626 dashed;
    }

    .percent__value {
        margin-bottom: 0.3rem;
        font-size: 2.875rem;
    }

    .percent__text {
        font-size: 1rem;
    }

    .general__button {
        padding: 0.8rem 1.25rem;
        margin: 0 auto;
        display: block;
        text-align: center;
        max-width: 130px;
    }

    .cases__for_business {
        column-gap: 3.75rem;
        margin-bottom: 7.5rem;
    }
}

@media(max-width: 390px) {
    .cases__info {
        text-align: center;
        max-width: 358px;
    }

    .cases__for_individual {
        flex-direction: column;
        gap: 1.8rem;
    }

    .for__individual_cards {
        max-width: 358px;
        padding: 20px;
    }

    .for__individual_cards::after {
        width: 118px;
        height: 112px;
    }

    .for__individual_item {
        width: 154px;
        height: 160px;
        padding: 1.25rem 0.8rem;
    }

    .item__img {
        margin-bottom: 0.875rem;
    }

    .item__text {
        font-size: 0.875rem;
    }



    .for__individual_general {
        max-width: 358px;
    }

    .general__title {
        font-size: 1.25rem;
        text-align: center;
    }

    .general__text {
        text-align: center;
    }

    .general__percents {
        flex-direction: column;
        row-gap: 1.875rem;
        margin-bottom: 3rem;
    }

    .general__percent {
        width: 258px;
        text-align: center;
    }

    .general__percent_center {
        width: 258px;
        padding: 30px 0;
        border-right: 0;
        border-left: 0;
        border-top: 1px #262626 dashed;
        border-bottom: 1px #262626 dashed;
    }

    .percent__value {
        margin-bottom: 2px;
    }

    .percent__text {
        font-size: 0.875rem;
    }

    .general__button {
        display: block;
        margin: 0 auto;
        width: 118px;
    }

    .cases__for_business {
        gap: 3.75rem;
        margin-bottom: 5rem;
        flex-direction: column-reverse;
    }
}
