.contacts {
    margin-bottom: 50px;
}

.contactsInner {
    padding: 50px 0;

    display: flex;
    justify-content: center;

    border-top: 1px #262626 solid;
    border-bottom: 1px #262626 solid;
}

.contactsList {
    display: flex;
    column-gap: 20px;
}

.contactsLink {
    font-weight: 400;
}

.constactsItem {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

@media (max-width: 650px) {
    .contactsList {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1.25rem;
    }

    .contactsInner {
        padding: 1.875rem 0;
    }

    .constactsItem {
        column-gap: 6px;
    }
}


@media(max-width: 390px) {
    .contacts {
        margin-bottom: 1.875rem;
    }
}