//Variables
$text-color: #BFBFBF;
$accent-color: #CAFF33;
$bg-color-light: #333333;
$bg-color: #1C1C1C;
$bg-color-dark: #1A1A1A;
$border-color: #262626;


.login {
  margin: 0 auto 10rem;
  max-width: 1310px;

  &__title {
    margin-bottom: 1.25rem;
  }

  &__info {
    max-width: 1120px;
    color: $text-color;
    margin-bottom: 5rem;
    text-align: center;

    @media (max-width: 480px) {
      font-size: 0.875rem;
    }
  }

  &__form {
    width: 1120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;

    @media (max-width: 1160px) {
      max-width: 960px;
    }

    @media (max-width: 960px) {
      max-width: 800px;
    }

    @media (max-width: 800px) {
      max-width: 640px;
    }

    @media (max-width: 640px) {
      max-width: 480px;
    }

    @media (max-width: 480px) {
      max-width: 358px;
    }
  }

  &__inputs {
    display: flex;
    align-items: center;
    gap: 1.875rem;
    margin-bottom: 2.5rem;

    @media (max-width: 960px) {
      flex-direction: column;
    }

    @media (max-width: 480px) {
      gap: 1.25rem;
    }

    &_input {
      width: 498px;
      padding: 1.5rem;
      background-color: $bg-color-dark;
      border-radius: 88px;
      border: 1px solid $border-color;

      @media (max-width: 1160px) {
        width: 350px;
      }

      @media (max-width: 480px) {
        max-width: 300px;
        font-size: 0.875rem;
      }
    }

    .password__inputs {
      width: 498px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $bg-color-dark !important;
      border-radius: 88px;
      border: 1px solid $border-color;
      padding: 1.5rem;
      z-index: 3;

      @media (max-width: 1160px) {
        width: 350px;
      }

      @media (max-width: 480px) {
        max-width: 300px;
        font-size: 0.875rem;
      }

      &_input {
        width: 100%;
        z-index: 3;
      }

      &_check {
        font-size: 1.5rem;
      }
    }
  }

  &__forgot {
    text-decoration: underline !important;
    margin-bottom: 2.5rem;

    @media (max-width: 480px) {
      font-size: 0.875rem;
    }
  }

  &__continue {
    width: 1120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: 960px) {
      width: 800px;
    }

    @media (max-width: 800px) {
      width: 640px;
    }

    @media (max-width: 640px) {
      width: 480px;
    }

    @media (max-width: 480px) {
      width: 358px;
    }

    .continue__buttons {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      margin-bottom: 1.5rem;
    }

    .continue__button {
      width: 518px;
      padding: 1.125rem 1.25rem;
      background-color: $accent-color;
      color: #000000;
      font-size: 1.125rem;
      font-weight: 400;
      border-radius: 63px;

      @media (max-width: 800px) {
        font-size: 1rem;
      }

      @media (max-width: 640px) {
        width: 350px;
      }

      @media (max-width: 480px) {
        width: 300px;
        font-size: 0.875rem;
      }
    }

    .signup {
      text-align: center;
      background-color: $bg-color-light;
      color: #ffffff;
    }

    .continue__variants {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .variants__text {
        display: flex;
        align-items: center;
        gap: 1.25rem;
        margin-bottom: 1.875rem;

        span {
          display: block;
          height: 2px;
          width: 100px;
          background-color: $text-color;

          @media (max-width: 480px) {
            width: 70px;
          }
        }

        p {
          color: $text-color;

          @media (max-width: 480px) {
            font-size: 0.875rem;
          }
        }
      }

      .variants__icons {
        display: flex;
        gap: 2.5rem;
        font-size: 3rem;
        color: $accent-color;

        @media (max-width: 640px) {
          font-size: 2rem;
        }

        @media (max-width: 480px) {
          font-size: 1.5rem;
        }
      }
    }
  }



  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 150px;
    position: relative;
    background-image: url(../images/login/login-bg.png);
    background-size: cover;
    border: 1px solid $border-color;

    @media (max-width: 1160px) {
      padding: 50px 100px;
    }

    @media (max-width: 960px) {
      padding: 60px 100px;
    }

    @media (max-width: 800px) {
      padding: 40px 80px;
    }

    @media (max-width: 640px) {
      padding: 40px;
    }

    @media (max-width: 480px) {
      padding: 30px;
    }
    
    &::after {
      display: inline-block;
      content: "";
      width: 340px;
      height: 340px;
      position: absolute;
      top: 0;
      right: 0;
      background-image: url(../images/login/abstract.svg);

      @media (max-width: 640px) {
        width: 250px;
        height: 250px;
      }

      @media (max-width: 480px) {
        width: 150px;
        height: 150px;
      }
    }
  }
}