.footerMain {
    margin: 100px 0 49.5px 0;
}

.footerLogo {
    margin: 0 auto 61px;
    display: flex;
    width: 155px;
    height: 40px;
}

@media(max-width: 1440px) {
    .footerLogo {
        width: 116px;
        height: 30px;
    }
}

@media(max-width: 390px) {
    .footerMain {
        margin: 3rem 0 1.875rem 0;
    }

    .footerLogo {
        width: 132px;
        height: 34px;
        margin-bottom: 1.5rem;
    }
}