.navList {
    display: flex;
    column-gap: 26px;
}

.navItem {
    font-weight: 400;
}

.navItemActive {
    background-color: #262626;
    border-radius: 82px;
    padding: 12px 24px;
}

@media(max-width: 1440px) {
    .navItem {
        font-size: 16px;
    }
}

@media(max-width: 760px) {
    .navBar {
        display: none;
    }

    .navItem {
        font-size: 14px;
    }
}

@media(max-width: 390px) {
    .navBar {
        display: none;
    }
}



