.testimonials {
    margin-bottom: 150px;
}

.testimonials__information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.testimonials__info {
    max-width: 910px;
    color: #b3b3b3;

}

.tabs {
    display: flex;

    background-color: #1C1C1C;
    max-width: 386px;
    padding: 14px;
    border-radius: 82px;
}

.tab {
    padding: 14px 24px;
    font-weight: 400;
    cursor: pointer;
}

.tab__active {
    padding: 14px 24px;

    background-color: #CAFF33;
    border-radius: 140px;

    color: #1C1C1C;
    font-weight: 400;
}

.swiper_slide {
    text-align: center;
    align-items: center;
}

.swiper_slide p:last-child {
    color: #CAFF33;
}

.slide_img {
    margin-bottom: 60px;
    font-size: 3rem;
}

.slide_text {
    margin-bottom: 50px;
}



@media(max-width: 1440px) {
    .testimonials {
        margin-bottom: 7.5rem;
    }

    .testimonials__information {
        margin-bottom: 5rem;
    }

    .testimonials__info {
        max-width: 831px;
    }

    .tabs {
        max-width: 300px;
        padding: 0.75rem;
    }

    .tab {
        padding: 0.7rem 1.2rem;
        font-size: 0.8rem;
    }

    .tab__active {
        padding: 0.7rem 1.2rem;
    }

    .slide_img {
        margin-bottom: 3rem;
        font-size: 2rem;
    }

    .slide_text {
        margin-bottom: 2.5rem;
    }
}

@media (max-width: 1130px) {
    .testimonials__info {
        max-width: 650px;
    }
}

@media(max-width: 390px) {
    .testimonials {
        margin-bottom: 5rem;
    }

    .testimonials__information {
        margin-bottom: 2.5rem;
        flex-direction: column;
        gap: 1.25rem;
    }

    .testimonials__info {
        max-width: 358px;
        text-align: center;
    }

    .slide_img {
        margin-bottom: 1.875rem;
        font-size: 2rem;
    }

    .slide_text {
        margin-bottom: 1.875rem;
    }
}