//Variables
$text-color: #b3b3b3;
$accent-color: #CAFF33;

.benefits {
  margin-bottom: 10rem;

  @media (max-width: 1440px) {
    margin-bottom: 7.5rem;
  }

  &__info {
    max-width: 1296px;
    margin-bottom: 5rem;
    color: #b3b3b3;

    @media (max-width: 1440px) {
      max-width: 1030px;
      margin-bottom: 3.75rem;
    }

    @media (max-width: 70rem) {
      margin: 0 auto 3.5rem;
      text-align: center;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.125rem;

    @media (max-width: 1440px) {
      gap: 1.875rem;
    }

    @media (max-width: 70rem) {
      gap: 1.5rem ;
    }
  }

  &__item {
    max-width: 748px;
    padding: 3.125rem;
    border-radius: 3.125rem 1.25rem 3.125rem 1.25rem;
    background: linear-gradient(149.36deg, rgba(202, 255, 51, 0.05) -30.105%, rgba(202, 255, 51, 0) 28.234%);
    border: 1px solid #262626;

    @media (max-width: 90rem) {
      padding: 2.5rem;
    }

    @media (max-width: 70rem) {
      padding: 2.25rem;
    }

    &_title {
      margin-bottom: 1.875rem;
      display: flex;
      align-items: center;
      column-gap: 1.25rem;

      @media (max-width: 90rem) {
        column-gap: 0.8rem;
      }

      .item_img {
        font-size: 3rem;
        color: $accent-color;

        @media (max-width: 90rem) {
          font-size: 2.75rem;
        }

        @media (max-width: 70rem) {
          font-size: 2.25rem;
        }
      }

      h3 {
        font-size: 1.5rem;
        font-weight: 400;

        @media (max-width: 90rem) {
          font-size: 1.25rem;
        }

        @media (max-width: 70rem) {
          font-size: 1.125rem;
        }

      }
    }

    &_text {
      color: #B3B3B3;

      @media (max-width: 90rem) {
        font-size: 1rem;
      }
    }
  }
}