/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500&display=swap');


/* Reset and base styles  */
* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

section, header, footer {
    overflow: hidden;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}

ul, ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img, svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

/*Global styles*/

body {
    font-family: 'Lexend', sans-serif !important;
    font-size: 18px !important;
    font-weight: 300;
    background: rgb(26, 26, 26) !important;
    color: #fff !important;
}

body::after {
    display: inline-block;
    content: " ";
    width: 759px;
    height: 611px;

    position: absolute;
    top: -112px;
    left: -70px;
    z-index: -1;

    background-image: url(../images/abstract_design.svg);
}

a {
    color: #ffffff;
}

.container {
    max-width: 1626px;
    padding: 0 15px;
    margin: 0 auto;
}

.sectionTitle {
    margin-bottom: 14px;

    font-size: 48px;
    font-weight: 500;
    color: #fff;
}

.sectionTitle span {
    color: #CAFF33;
}

.hidden {
    display: none !important;
}

/*Global styles for Header*/

.header {
    margin: 52px 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 34px;

    border-radius: 100px;
    background-color: #1C1C1C;
    border: 1px solid #262626;
}

.header__logo {
    width: 156px;
    height: 40px;
}

.buttons {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.signup {
    font-weight: 400;
}

.login {
    width: 109px;
    padding: 14px 30px;

    background-color: #CAFF33;
    border-radius: 82px;

    font-weight: 400;
    color: #1C1C1C;
}

.burger__btn {
    display: none;
}

.mySwiper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
}

@media(max-width: 1440px) {
    body {
        font-size: 16px;
    }

    body::after {
        width: 547px;
        height: 440px;
    }

    .container {
        max-width: 1310px;
        padding: 0 15px;
        margin: 0 auto;
    }

    .sectionTitle {
        font-size: 38px;
        margin-bottom: 10px;
    }

    .header {
        margin: 30px 0;
    }

    .header__inner {
        padding: 14px 24px 14px 24px;
    }

    .header__logo {
        width: 116px;
        height: 30px;
    }

    .buttons {
        column-gap: 20px;
    }

    .signup {
        font-size: 14px;
    }

    .login {
        width: 87px;
        padding: 12px 24px;

        font-size: 14px;
    }
}

@media (max-width: 1280px) {
    .container {
        max-width: 1150px;
    }
}

@media (max-width: 1120px) {
    .container {
        max-width: 990px;
    }

    .sectionTitle {
        text-align: center;
    }
}

@media(max-width: 960px) {
    .container {
        max-width: 830px;
    }
}

@media(max-width: 670px) {
    .buttons {
        display: none;
    }

    .burger__btn {
        display: block;
        width: 56px;
        height: 40px;
        position: relative;
        border-radius: 82px;
        background-color: #CAFF33;
    }

    .burger__btn::before {
        content: "";
        position: absolute;
        top: 10px;
        left: 18px;
        width: 20px;
        background-color: #000000;
        height: 2px;
    }

    .burger__btn span {
        position: absolute;
        top: 19px;
        left: 18px;
        width: 20px;
        background-color: #000000;
        height: 2px;
    }

    .burger__btn::after {
        content: "";
        position: absolute;
        bottom: 10px;
        left: 18px;
        width: 20px;
        background-color: #000000;
        height: 2px;
    }
}

@media (max-width: 640px) {
    .container {
        max-width: 510px;
    }

    .sectionTitle {
        font-size: 2rem;
    }
}

@media(max-width: 480px) {
    body {
        font-size: 1rem !important;
    }

    body::after {
        width: 0;
        height: 0;
    }

    .container {
        max-width: 388px;
    }

    .sectionTitle {
        font-size: 1.875rem;
        text-align: center;
    }

    .header {
        margin: 3rem 0;
    }

    .header__inner {
        padding: 14px 14px 14px 24px;
    }

    .header__logo {
        width: 101px;
        height: 26px;
    }

    .buttons {
        column-gap: 20px;
    }

    .login {
        width: 67px;
        padding: 8px 16px;
    }
}

@media(max-width: 390px) {
    body {
        font-size: 0.875rem !important;
    }

    body::after {
        width: 0;
        height: 0;
    }

    .container {
        max-width: 388px;
        padding: 0 15px;
        margin: 0 auto;
    }

    .sectionTitle {
        font-size: 1.75rem;
        text-align: center;
    }

    .header {
        margin: 3rem 0;
    }

    .header__inner {
        padding: 14px 14px 14px 24px;
    }

    .header__logo {
        width: 101px;
        height: 26px;
    }

    .buttons {
        column-gap: 20px;
    }

    .login {
        width: 67px;
        padding: 8px 16px;
    }



    .buttons {
        display: none;
    }

    .burger__btn {
        display: block;
        width: 56px;
        height: 40px;
        position: relative;
        border-radius: 82px;
        background-color: #CAFF33;
    }

    .burger__btn::before {
        content: "";
        position: absolute;
        top: 10px;
        left: 18px;
        width: 20px;
        background-color: #000000;
        height: 2px;
    }

    .burger__btn span {
        position: absolute;
        top: 19px;
        left: 18px;
        width: 20px;
        background-color: #000000;
        height: 2px;
    }

    .burger__btn::after {
        content: "";
        position: absolute;
        bottom: 10px;
        left: 18px;
        width: 20px;
        background-color: #000000;
        height: 2px;
    }

    .mySwiper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .swiper-wrapper {
        display: flex;
        align-items: center;
    }
}


/*Global styles for Footer*/

footer {
    background-color: #1C1C1C;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 0;
    width: 100%;
    height: auto;
}